@use "sass:color";
@use "sass:map";

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card,
.card--smaller {
  border-radius: 24px;
  padding: 3rem 1rem;
  background-color: var(--bg-dark);
}

.card {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  h2 {
    font-weight: 700;
    letter-spacing: 0.03rem;
  }
  p {
    line-height: 2rem;
  }
  a {
    text-decoration: none;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  gap: 1rem;
  justify-content: center;
  justify-items: center;
  &__item {
    margin: 1rem;
    flex: 0 0 256px;
    width: 256px;
    padding: 0;
    overflow: hidden;
    min-height: 400px;
    img {
      max-width: 256px;
      object-fit: contain;
      transform: scale(1);
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: scale(1.05) translateY(-5px);
      }
    }
    h2 {
      font-size: 1.4rem;
      letter-spacing: 0.02rem;
    }
    .card-text-accent {
      text-transform: uppercase;
      color: var(--color-grey-standard);
      font-size: 0.8rem;
      letter-spacing: 0.07rem;
      line-height: 1.5rem;
    }
  }
}

.card--smaller {
  flex: 0 1 60%;
  height: 90%;
  box-shadow: 1px 4px 12px rgba(255, 255, 255, 0.1);
  z-index: 1;
  h6 {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--color-grey-standard);
    letter-spacing: 0.07rem;
  }
}

.card--smaller-right {
  margin-left: -1.5rem;
  padding-left: 3.5rem;
}

.card--smaller-left {
  margin-right: -1.5rem;
  padding-right: 3.5rem;
  .list-item {
    flex-direction: row-reverse;
    text-align: right;
  }
}

@media (max-width: 600px) {
  .panel .card,
  .panel.panel--horizontal .card,
  .panel .card--smaller .list-item {
    flex-direction: column;
  }
  .panel .card--smaller .list-item > * {
    margin: 0.5rem 0;
    text-align: left;
  }
}
