---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import Icon from "../components/Icon.astro";
---

<Layout title="Power of Interest">
  <main class="container">
    <section class="hero">
      <h1>Power of Interest</h1>
      <h3>Exploring the unfiltered creative mind</h3>
      <Logo />
    </section>

    <section class="panel panel__music">
      <div class="card gradient-blue">
        <div class="">
          <h2 class="light-blue">My Music</h2>
          <p>
            Expressing creativity through music is a big deal for me. Listen to
            my latest releases here.
          </p>
        </div>
        <a href="/music" class="button button--blue">
          Discover
          <Icon name="arrow_forward" />
        </a>
      </div>
    </section>

    <section class="panel panel__projects">
      <div class="card gradient-poi-green">
        <div class="">
          <h2 class="light-green">My Projects</h2>
          <p>
            If I have an idea, I try to make it. Not all projects get to
            completion, but the ones that do (or will be done) will be shown
            here.
          </p>
        </div>
        <a href="/projects" class="button button--green">
          See all projects
          <Icon name="arrow_forward" />
        </a>
      </div>
    </section>
  </main>
</Layout>
