---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import Icon from "../components/Icon.astro";
---

<Layout title="Power of Interest">
  <main class="container">
    <section class="hero">
      <h1>Power of Interest</h1>
      <h3>Exploring the unfiltered creative mind</h3>
      <Logo />
    </section>

    <section class="panel panel__music">
      <div class="card--smaller card--smaller-left">
        <h6>Latest releases</h6>
      </div>
      <div class="card gradient-blue">
        <div class="">
          <h2 class="light-blue">My Music</h2>
          <p>
            Expressing creativity through music is a big deal for me. Listen to
            my latest releases here.
          </p>
        </div>
        <a href="/music" class="button button--blue">
          Discover
          <Icon name="arrow_forward" />
        </a>
      </div>
    </section>

    <section class="panel panel__projects">
      <div class="card gradient-poi-green">
        <div class="">
          <h2 class="light-green">My Projects</h2>
          <p>
            If I have an idea, I try to make it. Not all projects get to
            completion, but the ones that do (or will be done) will be shown
            here.
          </p>
        </div>
        <a href="/projects" class="button button--green">
          See all projects
          <Icon name="arrow_forward" />
        </a>
      </div>
      <div class="card--smaller card--smaller-right">
        <h6>Recent projects</h6>
      </div>
    </section>

    <section class="panel panel--horizontal">
      <div class="card gradient-purple">
        <div class="">
          <h2 class="light-purple">Blog</h2>
          <p>
            I might not be all that great at writing, but through this medium I
            can communicate my thoughts and ideas to the world in my own way.
          </p>
        </div>
        <a href="/blog" class="button button--purple">
          Read
          <Icon name="arrow_forward" />
        </a>
      </div>
      <div class="card--smaller card--smaller-right">
        <h6>Latest Posts</h6>
      </div>
    </section>
  </main>
</Layout>
