---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Power of Interest">
  <main class="container">
    <section class="panel panel--horizontal">
      <div class="card gradient-poi-green">
        <div class="">
          <h2 class="light-green">My Projects</h2>
          <p>
            If I have an idea, I try to make it. Not all projects get to
            completion, but the ones that do (or will be done) will be shown
            here.
          </p>
        </div>
      </div>
    </section>

    <div class="grid">
      <div class="card gradient-poi-blue">
        <h3 class="light-blue">This Website</h3>
        <p>
          I wanted to make a website that was fast, easy to maintain, and
          accessible. I also wanted to learn a new framework, so I chose <a
            href="https://astro.build"
            target="_new">Astro</a
          >. I'm still learning, but I'm happy with the results so far.
        </p>
      </div>
    </div>
  </main>
</Layout>
