---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
  <section class="panel panel--horizontal p-inline-30 m-block-30">
    <div class="card gradient-green">
      <div class="">
        <h2 class="color-green-light">My Projects</h2>
        <p class="color-green-light">
          If I have an idea, I try to make it. Not all projects get to
          completion, but the ones that do (or will be done) will be shown here.

          <div class="grid">
            <div class="card grid__item">
              <h3 class="light-green p-2">This Website</h3>
              <p>
                I wanted to make a website that was fast, easy to maintain, and
                accessible. I also wanted to learn a new framework, so I chose <a
                  href="https://astro.build"
                  target="_new">Astro</a
                >. I'm still learning, but I'm happy with the results so far.
              </p>
            </div>
            <div class="card grid__item p-2">
              <a href="mexxonline.power-of-interest.com " target="_blank">
                <h3 class="light-green">MexxOnline</h3>
              </a>
              <p>
                Mexx is a relatively popular, simple drinking game that is
                played with a set of dice. I created a web version of the game
                that allows you to play locally with friends when you are at the
                bar, as a fun and engaging way to pass the time. <a
                  href="https://mexxonline.power-of-interest.com"
                  target="_blank"
                  class="minimal light-green">Play now</a
                >
              </p>
            </div>
          </div>
        </p>

        <div class="grid m-inline-30">
          <div class="card flex-column shadow">
            <h3 class="color-text-blue font-size-15">This Website</h3>
            <p class="color-text-blue m-block-start-10">
              I wanted to make a website that was fast, easy to maintain, and
              accessible. I also wanted to learn a new framework, so I chose <a
                href="https://astro.build"
                target="_new">Astro</a
              >. I'm still learning, but I'm happy with the results so far.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section></Layout
>
