---
import Layout from "../layouts/Layout.astro";

const projects = [
  {
    name: "Power of Interest (This website)",
    description:
      "I wanted to make a website that was fast, easy to maintain, and accessible. I also wanted to learn a new framework, so I chose Astro. I'm still learning, but I'm happy with the results so far.",
    url: "https://power-of-interest.com",
  },
  {
    name: "MexxOnline",
    description:
      "Mexx is a relatively popular, simple drinking game that is played with a set of dice. I created a web version of the game that allows you to play locally with friends when you are at the bar, as a fun and engaging way to pass the time.",
    url: "https://mexxonline.power-of-interest.com",
  },
];
---

<Layout title="Projects">
  <section class="panel panel--horizontal p-inline-30 m-block-30">
    <div class="card gradient-green shadow">
      <section>
        <h2 class="color-green-light">My Projects</h2>
        <p class="color-green-light">
          If I have an idea, I try to make it. Not all projects get to
          completion, but the ones that do (or will be done) will be shown here.
        </p>
      </section>
    </div>
  </section>

  <div class="grid p-inline-30">
    {
      projects.map((item) => (
        <a
          href={item.url}
          target="_blank"
          rel="noopener noreferrer"
          class="card grid__item flex-column align-items-flex-start shadow text-decoration-none"
        >
          <div class="w-full h-full p-inline-10 p-block-10 flex-column">
            <h2 class="color-text">{item.name}</h2>
            <div class="w-full p-block-start-10 flex-row justify-content-space-between align-items-center">
              <p class="card-text-accent">{item.description}</p>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</Layout>
