---
import logo from "../images/logo-animated.svg?raw";
---

<div class="logo">
  <Fragment set:html={logo} />
</div>

<style>
  .logo {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
