@import "bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
}
