---
import Navbar from "./Navbar.astro";
import Styles from "./Styles.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Material+Symbols+Outlined&display=swap"
      rel="stylesheet"
    />
    <Styles />
    <title>{title} - Power of Interest</title>
  </head>
  <body>
    <header>
      <Navbar />
    </header>
    <slot />
  </body>
</html>
