---
import logo from "../images/logo-static.svg";
import { Image } from "astro:assets";
---

<nav>
  <a href="/">
    <span class="sr-only">Home</span>
    <Image src={logo} alt="logo" />
  </a>
  <span class="nav-links">
    <a href="/projects">Projects</a>
    <a href="/music">Music</a>
  </span>
</nav>
